body {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #898989;
}

ul {
    margin: 0;
    padding: 30px;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #2e2e2e;
}

.counter p {
    color: #f9f9f9;
}

.counterContent {
    text-align: center;
}

.counterBtn {
    width: 100px;
    height: 45px;
    letter-spacing: 2.5px;
    font-weight: 500;
    font-size: 20px;
    color: #f9f9f9;
    background-color: #d67b60;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}